.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    >svg {
        width: 100%;
        max-width: 30rem;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }

    #closeOverlay {
        border: none;
        background-color: transparent;

        >svg {
            width: 3rem;
            transform: scaleX(-1);
            fill: white;
            

            &:hover {
                background-color: rgba(255, 255, 255, .2);
                border-radius: 100%;
            }
        }
    }

    .overlay-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 24px;

        >div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 36px;

            >span {

                :nth-child(1) {
                    font-size: 24px;
                    font-weight: 700;
                }

                :nth-child(2),
                :nth-child(3) {
                    color: rgba(255, 255, 255, 0.7);
                    padding: 6px;
                    position: relative;
                    z-index: 1;
                    text-align: center;
                    margin: 12px 48px;
                    margin-left: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        border-radius: 160px;
                        inset: 0;
                        background: black;
                        opacity: 0.1;
                        z-index: -1;
                    }
                }
            }

        }
    }
}

.overlay-content {
    width: 100%;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    height: 60%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    .content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 64px;
        max-width: 1440px;
        margin: 0 auto;

        button {
            font-size: 16px;
            font-weight: 550;
            color: gray;
            border: none;
            background-color: unset;
        }


        >img {
            position: fixed;
            bottom: 55%;
            left: 50%;
            transform: translateX(-50%);
            width: 15rem;
        }

    }

    .tab-content {
        max-width: 1440px;
        margin: 0 auto; 
    }
}