@use './../../../styles.scss';


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .wishing-wrapper {
      position: absolute;
      top: 7.5%;

      .wishing-pokemon {
        position: relative;
        font-size: 24px;
        font-style: italic;

        :nth-child(2) {
          position: absolute;
        }
        svg {
          filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
        }

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
          z-index: 1;
        }
      }
    }


    .swipe{
      &-right {
        position: fixed;
        top: 50%;
        right: 0;
        height: 50%;
        width: 10rem;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.7);
        background-color: black;
        filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
        animation: swipeAnim 1.5s infinite;
        z-index: 1;
        cursor: pointer;
      }

      &-left {
       position: fixed;
        top: 50%;
        left: 0;
        height: 50%;
        width: 10rem;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.7);
        background-color: black;
        filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
        animation: swipeAnim 1.5s infinite;
        z-index: 1;
        cursor: pointer;
      }
    }

    #closeOverlay {
      position: relative;
      z-index: 2;
      border: none;
      background-color: transparent;

        >svg {
            width: 3rem;
            transform: scaleX(-1);
            transition: background-color .7s ease, border-radius .7s ease;
            fill: var(--glow-color);
            filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));

            &:hover {
                transition: fill .2s ease;
                fill: white;
                background-color: color-mix(in srgb, var(--glow-color) 20%, transparent);
                border-radius: 100%;
            }
        }
    }

    .overlay-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 24px;

        .overlay-top-container {
            width: 100%;
            position: relative;

            p {
              font-size: var(--p-size);
            }

            .blob {
              width: 100%;
              max-width: 30rem;
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(-40%, -35%);
              opacity: .15;
              filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));

              >path {
                fill: white;
              }
            }

            .overlay-pokemon-details {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 48px;

                .index-number {
                    font-size: 28px;
                    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0, 0.1));
                }

                >div {

                    h1 {
                        filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
                        font-size: var(--h1-size);
                    }

                  span {
                    display: flex;
                    filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));

                    p {
                      font-size: var(--p-size);
                      color: rgba(255, 255, 255, 0.7);
                      padding: 8px;
                      position: relative;
                      z-index: 1;
                      text-align: center;
                      margin: 8px;
                      margin-left: 0;

                          &::before {
                              content: "";
                              position: absolute;
                              border-radius: 160px;
                              inset: 0;
                              background: black;
                              opacity: 0.1;
                              z-index: -1;
                          }
                    }
                  }
                }
            }
        }

    }
}

.overlay-bottom {
    width: 100%;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    height: 60%;
    background-color: white;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;


    .overlay-bottom-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        padding: 42px 64px 64px;
        background: white;
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;

        .pokeball {
          width: 100%;
          max-width: 30rem;
          position: absolute;
          bottom: 100%;
          transform: translateY(35%);
          right: 0;
          opacity: .25;
          z-index: -1;
          filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
        }

        button {
            font-size: 16px;
            font-weight: 550;
            color: gray;
            border: none;
            background-color: unset;
            position: relative;

            p {
              font-size: var(--p-size);
            }

            &.active::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              transform: translate(0%, 10px);
              width: 100%;
              height: 2px;
              background: var(--glow-color);
            }
        }


        #pokemonSwiper {
          position: absolute;
          width: 100%;

          img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -16px);
            width: 15rem;
            cursor: grab;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }

          .previousPokemon {
            left: 0;
            transform: translate(-100%, -50%);
            scale: 0.5;
            opacity: 0.9;
            cursor: pointer;
            filter: brightness(0.01) drop-shadow(2px 4px 6px black);
            z-index: -1;
          }

          .nextPokemon {
            right: 0;
            left: unset;
            transform: translate(100%, -50%);
            scale: 0.5;
            opacity: 0.9;
            cursor: pointer;
            filter: brightness(0.01) drop-shadow(2px 4px 6px black);
            z-index: -1;
          }
          }
        }

    }

    .tab-content {

      &-about {
        display: flex;

        p {
          font-size: var(--p-size);
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }

        >:nth-child(1) {
          color: rgb(134, 134, 134);
        }

        >:nth-child(2) {
          margin: auto;
        }
      }

      &-stats {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 73%;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #c9c5c5 transparent;

        .stat-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .stat-values {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            gap: 16px;
            margin-right: 24px;

            p {
              font-size: var(--p-size);
            }

            :nth-child(1) {
              color: rgb(134, 134, 134);
            }
          }

          .stat-progress-border {
            width: 75%;
            background: #d3d3d336;
            border: 1px solid #d3d3d336;
            border-radius: 12px;
            height: 12px;

            .stat-progress-bar {
              border-radius: 12px;
              height: 100%;
              background: black;
            }
          }
        }
      }

      &-evolution {
        height: 73%;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #c9c5c5 transparent;

        p {
          font-size: var(--p-size);
        }

        .chain {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 24px;
          margin-bottom: 48px;

          .evo-arrow {
            font-size: 24px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 18px;

            span {
              font-size: 16px;
              margin-bottom: 8px;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }

          .evo-pokemon {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            gap: 8px;

            .img-wrap {
              background: rgb(120, 120, 120, 0.1);
              border-radius: 100%;
              aspect-ratio: 1;
              height: 100%;
              width: 100%;
              padding: 8px;


              img {
                width: 128px;
                padding: 8px;
              }
            }
          }

          .evo-level {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
          }
        }

        h2 {
          font-size: var(--h2-size);
          margin-bottom: 24px;
          filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
        }

      }

      &-moves {

      }
  }

