.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    #closeOverlay {
        border: none;
        background-color: transparent;

        >svg {
            width: 3rem;
            transform: scaleX(-1);
            transition: background-color .7s ease, border-radius .7s ease;
            fill: var(--glow-color);
            filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));

            &:hover {
                transition: fill .2s ease;
                fill: white;
                background-color: color-mix(in srgb, var(--glow-color) 20%, transparent);
                border-radius: 100%;
            }
        }
    }

    .overlay-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 24px;

        .overlay-top-container {
            width: 100%;
            max-width: 1440px;
            margin: auto;
            position: relative;

            .blob {
              width: 100%;
              max-width: 30rem;
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(-40%, -35%);
              opacity: .15;
              filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));

              >path {
                fill: white;
              }
            }

            .overlay-pokemon-details {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 36px;

                .index-number {
                    font-size: 32px;
                    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0, 0.1));
                }

                >div {

                    h2 {
                        filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));
                    }

                  span {
                    display: flex;
                    filter: drop-shadow(-4px 2px 3px rgba(0, 0, 0, 0.1));

                    p {
                      color: rgba(255, 255, 255, 0.7);
                      padding: 8px;
                      position: relative;
                      z-index: 1;
                      text-align: center;
                      margin: 8px;
                      margin-left: 0;

                          &::before {
                              content: "";
                              position: absolute;
                              border-radius: 160px;
                              inset: 0;
                              background: black;
                              opacity: 0.1;
                              z-index: -1;
                          }
                    }
                  }
                }
            }
        }

    }
}

.overlay-bottom {
    width: 100%;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    height: 60%;
    background-color: white;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;


    .overlay-bottom-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        padding: 64px;
        max-width: 1440px;
        margin: 0 auto;
        background: white;
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;

        .pokeball {
          width: 100%;
          max-width: 30rem;
          position: absolute;
          bottom: 100%;
          transform: translateY(35%);
          right: 0;
          opacity: .25;
          z-index: -1;
          filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
        }

        button {
            font-size: 16px;
            font-weight: 550;
            color: gray;
            border: none;
            background-color: unset;
        }


        >img {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 25%);
            width: 15rem;
        }

    }

    .tab-content {
        max-width: 1440px;
        margin: 0 auto;

        .stat-container {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .stat-values {
            display: flex;
            width: 25%;
            gap: 16px;
            justify-content: space-between;
          }

          .stat-progress-border {
            width: 75%;
            border: solid 1px;

            .stat-progress-bar {
              height: 100%;
              background: black;
            }
          }
        }
    }
}
