main {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    max-width: 1440px;
    margin: 64px auto;
}

#pokemon {
    display: flex;
    position: relative;
    border-radius: 16px;
    width: 100%;
    padding: 24px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        box-shadow: 2px 4px 16px #00000029;
        transform: scale3d(1.01, 1.01, 1.01);
        transition: transform 0.3s ease;

        #pokemonImage {
            transform: scale3d(1.05, 1.05, 1.05);
            transition: transform 0.3s ease;
        }
    }

    #index {
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }    

    .pokeDetails {
        max-width: 50%;
        width: 100%;

        :nth-child(1) {
            font-size: 20px;
            font-weight: bold;
            filter: drop-shadow(0px 0px 6px rgb(0, 0, 0, 0.1));
        }

        :nth-child(2) {
            font-size: 14px;
        }

        .element {
            color: rgba(255, 255, 255, 0.7);
            padding: 6px;
            position: relative;
            z-index: 1;
            text-align: center;
            margin: 12px 48px;
            margin-left: 0;
        }

        .element::before {
            content: "";
            position: absolute;
            border-radius: 160px;
            inset: 0;
            background: black;
            opacity: .1;
            z-index: -1;
        }
    }

    #pokemonImage {
        z-index: 1;
        width: 100%;
        max-width: 160px;
        filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
    }

    #pokemonElement {
        position: absolute;
        bottom: 5%;
        right: 0;
        width: 50%;
        opacity: .4;
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
    }
}
