header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;

  h1 {
    font-size: 4.5rem;
    margin: 3rem 0;
  }

  input {
    width: 100%;
    max-width: 320px;
    padding: 0.5rem 1.75rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s;


    &:focus {
      border-color: linear-gradient(45deg, #ff6ec4, #7873f5);
    }

    &::placeholder {
      color: #aaa;
      //font-style: italic;
      text-align: center;
    }
  }
}
