header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;

  img {
    width: 100%;
    max-width: 480px;
    margin: 32px 0;
  }

  input {
    max-width: 320px;
    width: 0;
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s;
    background-image: url("./../assets/icons/lupe.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: pointer;

    &:hover {
      animation: ledGlow 1.5s steps(60) infinite;
    }

    &:focus {
      animation: ledGlow 1.5s steps(60) infinite;
      box-shadow: 2px 4px 16px #00000029;
      transform: scale3d(1.02, 1.02, 1.02);
      transition: transform 0.3s ease;
    }

    &::placeholder {
      color: #aaa;
      font-style: italic;
      text-align: left;
      font-size: 18px;
    }
  }
}

@keyframes ledGlow {
  0%, 100% {
    box-shadow: 0 0 10px #ff6ec4, 0 0 20px #7873f5;
  }
  50% {
    box-shadow: 0 0 20px #ff6ec4, 0 0 30px #7873f5;
  }
}
