@use './mediaQuery.scss';

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  @font-face {
    font-family: "Pokemon-Solid";
    src: url(./assets/fonts/Pokemon_solid.ttf);
  }

  @font-face {
    font-family: "Pokemon-Hollow";
    src: url(./assets/fonts/Pokemon_hollow.ttf);
  }

}

:root {
  --p-size: 24px;
  --h2-size: 28px;
  --h1-size: 34px;
}

.max-width {
  max-width: 1440px;
  margin: auto;
}


