* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

}

.max-width {
  max-width: 1440px;
  margin: auto;
}
